*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* adds background image and gradient*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/*moves the navbar to the right*/
nav {
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
}

/*fix size of logo*/
nav img {
    width: 50px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

/*align the navbar in line*/
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/*colours, removes underline and changes font size*/
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

/*navbar hover animation*/
.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*navbar hover animation*/
.nav-links ul li:hover::after {
    width: 100%;
}

/*align text in center*/
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/*change font size*/
.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

/*stylise center button*/
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/*remove hamburger menu icon from desktop view*/
nav .svg-inline--fa {
    display: none;
}

/* for devices with <= 700px*/
@media (max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -270px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .svg-inline--fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links {
        padding: 30px;
    }
}

/*content one of page*/
.contentOne {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/*align content in 3 columns*/
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.contentOne-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px 0;
}
 /*hover effect for content box*/
.contentOne-col:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
} 

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
}

/*content two of page*/
.contentTwo {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

/*align content in 3 columns*/
.contentTwo-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.contentTwo-col img {
    width: 100%;
    display: block;
}

/*hover effect over images*/
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226,0,0,0.7);;
}

/*center text in image and animates it to center*/
.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

/*content three of page*/
.contentThree {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.contentThree-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.contentThree-col img {
    width: 100%;
    border-radius: 10px;
}

.contentThree-col p {
    padding: 0;
}
.contentThree-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*reviews section*/
.reviews {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

/*places content into a box*/
.review-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

/*make image round*/
.review-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 50px;
    border-radius: 50%;
}

.review-col p {
    padding: 0;
}

.review-col h3 {
    margin-top: 15px;
    text-align: left;
}

 /*colour the star icons*/
.review-col .svg-inline--fa {
    color: #f44336
}

/*adjust user image to better fit mobile*/
@media(max-width: 700px) {
    .review-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

.contact {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.contact h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

/*change texts size for smaller screens*/
@media (max-width: 700px) {
    .contact h1 {
        font-size: 24px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/*change footer icon colour*/
.icons .svg-inline--fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}